@keyframes button-fade {
  0% {
    background-color: black;
    border-radius: 10px;
  }
  25% {
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
  }

  50% {
    background-color: rgb(53, 53, 53);
    border-radius: 5px;
  }
  100% {
    background-color: black;
    border-radius: 10px;
  }
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --main-font: sans-serif;
  --header-font: "Trebuchet MS", sans-serif;
  --footer-font: var(--header-font);
  --main-font-colour: rgb(255, 255, 255);
  --header-image: url("https://i.imgur.com/qeEm2uE.jpg"); /* Unused */
  --footer-image: url("https://i.imgur.com/EKlFmEQ.jpg"); /* Unused */
  --header-footer-colour: rgb(68, 68, 68);
}

body {
  font-family: var(--main-font);
  background-color: rgb(38, 38, 38);
}

body *:not(navbar-custom *) {
  color: var(--main-font-colour);
}

body p {
  line-height: 25px;
}

body *.italic-strong {
  font-style: italic;
  font-weight: bold;
}

body .italic {
  font-style: italic;
}

body h5 {
  font-family: var(--header-font);
}

body .flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

body .flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body .flex-centre {
  justify-content: center;
  text-align: center;
}

body .left {
  justify-content: left;
  text-align: left;
}

body .right {
  justify-content: right;
  text-align: right;
}

body .centre {
  justify-content: center;
  text-align: center;
}

body .margin {
  margin-left: 30%;
  margin-right: 30%;
}

body div.boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body div.boxes form.box {
  margin: 25px;
  padding: 25px;

  word-wrap: break-word;
  max-width: 500px;
}

body fieldset legend {
  font-size: 1.3em;
}

body div.boxes form.box img {
  width: auto;
  height: 200px;
  padding-left: 20px;
  border-radius: 50px;
  margin-top: 5%;

  float: right;
}

body div.boxes form.box iframe {
  width: 425px;
  height: 350px;
  border-style: none;
}

body header-custom {
  top: 0;
  z-index: 2;
  position: sticky;
}

body header a#scroll-top {
  margin-top: 5px;
}

body header a#scroll-top:hover {
  cursor: pointer;
  color: grey;
}

body header img,
body footer img {
  padding: 0;
  margin: 0;
  width: auto;
  height: 55px;
}

body header {
  background-color: var(--header-footer-colour);
  z-index: 2;
  height: 60px;
}

body footer {
  background-color: var(--header-footer-colour);
  z-index: 2;
  margin-top: 30px;
  height: 180px;
}

body button {
  border: 2px;
  border-color: rgb(66, 66, 66);
  border-style: outset;
  border-radius: 10px;
  cursor: pointer;
  height: 27px;
}

body button:hover {
  background-color: rgb(30, 30, 30);
  animation-name: button-fade;
  animation-duration: 750ms;
  animation-iteration-count: infinite;
}

body header header-link * {
  text-decoration: none;
  color: var(--main-font-colour);
}

body footer div#copyright-info a {
  color: var(--main-font-colour);
}

body footer div#copyright-info * {
  margin-top: 25px;
}

body header header-link span {
  margin-right: 10px;
  margin-left: 10px;
}

body header a.home-button,
body footer a.home-button {
  position: absolute;
  left: 0.5%;
}

body footer a.home-button {
  margin-left: 0.5%;
}

body header nav {
  height: 100%;
  align-items: center;
}

body footer div#copyright-info span,
body footer div#copyright-info a {
  margin-right: 10px;
  margin-left: 10px;
}

body footer nav#socialmedia a {
  margin-right: 10px;
}

body footer nav#socialmedia {
  position: absolute;
  right: 1%;
  margin-top: 1%;
}

body footer nav#socialmedia img {
  width: auto;
  height: 40px;
}

body header a {
  font-family: var(--header-font);
}

body footer div#copyright-info {
  font-size: 0.75em;
}

body .cursor-pointer {
  cursor: pointer;
}

body div#image-slideshow {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

body div#image-slideshow > img {
  border-color: white;
  border-style: solid;
}

body div#image-slideshow div#slogan {
  position: absolute;
  margin-top: 24%;
  background-image: url("https://i.imgur.com/JUX1vxE.png");
  width: 500px;
}

body div#image-slideshow div#slogan > a {
  color: rgb(30, 30, 30);
  text-decoration: none;
  font-family: Bangers;
  font-size: 1.75em;
  opacity: 100%;
}

body div#calendar {
  height: 100vh;

  margin-bottom: 50px;
  margin-top: 50px;
}

body img {
  transition: transform 0.2s;
}

body img:hover {
  transform: scale(1.02);
}

body form input,
body form textarea {
  color: black;
  border-radius: 5px;
  border-style: dashed;
}

body form#contact-form input {
  width: 40%;
  margin-right: 10px;
  margin-left: 10px;
}

body form#contact-form textarea#contact-form-body {
  margin-top: 10px;
  width: 100%;
}

body form#contact-form button[type="submit"] {
  margin-top: 10px;
  margin-left: 80%;
  margin-bottom: 20px;
  background-color: rgb(68, 68, 68);
}

body form#payment-form {
  width: 70%;
  margin-left: 30px;
  margin-top: 10px;
}
body form#payment-form div#payment-form-icons * {
  margin-right: 12px;
}

body form#payment-form div#payment-form-inputs * {
  margin-top: 20px;
  margin-right: 15px;
  width: 40%;
}

body form#payment-form div#payment-form-inputs input#payment-form-inputs-ccv {
  width: 20%;
}

body form#payment-form button#payment-form-submit {
  margin-top: 20px;
}

body div#payment-form-div {
  position: absolute;
  left: 1%;
}

body div#booking-page-calendar {
  width: 40%;
  height: 100%;
}

body div#booking-page-productlist {
  margin-left: 10px;
}

body div#booking-page-productlist *:first-child {
  margin-left: 20px;
}

body div#booking-page-productlist *:last-child {
  margin-right: 20px;
}

body page-product p:not(legend) {
  font-size: 0.94em;
}

body page-product img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

body page-product {
  max-width: 500px;
  word-wrap: break-word;
}

body page-product button#submit-button {
  width: 100%;
}

body div#booking-page-productlist {
  flex-wrap: nowrap;
}

body .button-dark {
  background-color: rgb(38, 38, 38);
}

body .button-light {
  background-color: rgb(68, 68, 68);
}

body .icon {
  width: auto;
  height: 30px;
}

body .space-evenly {
  justify-content: space-evenly;
}

body .y-centre {
  align-items: center;
}

body .flex {
  display: flex;
}

body .flex-wrap {
  flex-wrap: wrap;
}

body .width-100 {
  width: 100%;
}
body form#sign-in-form {
  margin-top: 50px;
}
body form#sign-in-form div#sign-in-labels button:not(:last-child) {
  margin-right: 30px;
}

body form#sign-in-form div#sign-in-inputs input {
  width: 40%;
}

body form#sign-in-form div#sign-in-inputs button#sign-in-button {
  margin-top: 20px;
}

body form#sign-in-form div#sign-in-inputs * {
  margin-top: 7px;
}

body form#sign-in-form div#sign-in-inputs input:not(:last-child) {
  margin-right: 30px;
}

body form#sign-in-form div#sign-in-inputs label#dob-label {
  margin-right: 30px;
}

body form#sign-in-form img {
  margin-right: 10px;
}

body form#sign-up-form div#sign-up-inputs input:not(:last-child) {
  margin-right: 30px;
}

body flex-break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

body > div#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > div#container > div#content {
  flex-grow: 1;
}

body > div#container footer {
  flex-basis: 100px;
}
